rules_version = '2';
service cloud.firestore {
  // t-start

  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write;
    }
  }
}